In [1]:
import pandas as pd
data = pd.DataFrame({'group': ['a', 'a', 'a', 'b','b', 'b', 'c', 'c','c'],
                 'ounces': [4, 3, 12, 6, 7.5, 8, 3, 5, 6]})
data

  group  ounces
0     a     4.0
1     a     3.0
2     a    12.0
3     b     6.0
4     b     7.5
5     b     8.0
6     c     3.0
7     c     5.0
8     c     6.0

In [2]:
data.describe()

          ounces
count   9.000000
mean    6.055556
std     2.855307
min     3.000000
25%     4.000000
50%     6.000000
75%     7.500000
max    12.000000

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 2 columns):
group     9 non-null object
ounces    9 non-null float64
dtypes: float64(1), object(1)
memory usage: 224.0+ bytes

In [4]:
data.sort_values(by=['group','ounces'], ascending=[True, False], inplace=True)
data

  group  ounces
6     c     3.0
7     c     5.0
8     c     6.0
3     b     6.0
4     b     7.5
5     b     8.0
1     a     3.0
0     a     4.0
2     a    12.0

In [35]:
data.sort_values(by=['group','ounces'], ascending=[False,True], inplace=True)
data

KeyError: 'group'

In [7]:
import pandas as pd
data = pd.DataFrame({'k1': ['one'] * 3 + ['two'] * 4, 'k2': [3, 2, 1, 3, 3, 4, 4]})
data

    k1  k2
0  one   3
1  one   2
2  one   1
3  two   3
4  two   3
5  two   4
6  two   4

In [8]:
data.sort_values(by='k2')
data

    k1  k2
0  one   3
1  one   2
2  one   1
3  two   3
4  two   3
5  two   4
6  two   4

In [11]:
data.sort_values(by='k2', ascending=True, inplace=True )
data

    k1  k2
2  one   1
1  one   2
0  one   3
3  two   3
4  two   3
5  two   4
6  two   4

In [12]:
data.sort_values(by='k2', ascending=True, inplace=False )
data

    k1  k2
2  one   1
1  one   2
0  one   3
3  two   3
4  two   3
5  two   4
6  two   4

In [13]:
data.drop_duplicates()

    k1  k2
2  one   1
1  one   2
0  one   3
3  two   3
5  two   4

In [14]:
data.drop_duplicates(subset='k1')

    k1  k2
2  one   1
3  two   3

In [17]:
def is_even(n):
    print(n)
    
is_even(2)

2

In [16]:
is_even(n)

NameError: name 'n' is not defined

In [18]:
def is_even(n):
    if n % 2 == 0:
        print('even')
    else:
        print('ODD')
        
is_even(5)

ODD

In [19]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [22]:
food = {'k1':10,'k2':20}
print (food['k1'])

10

In [25]:
import pandas as pd
fruits = {'Zpple':20,'Banana':10,'Cherry':40}
print(fruits)

{'Zpple': 20, 'Cherry': 40, 'Banana': 10}

In [33]:
import pandas as pd
fruits = pd.DataFrame({'Fruits':['Apple']*2+['Cherry']*3,'price':[15,10,30,2,40]})
fruits

   Fruits  price
0   Apple     15
1   Apple     10
2  Cherry     30
3  Cherry      2
4  Cherry     40

In [34]:
fruits.sort_values(by='price', ascending=[False])

   Fruits  price
4  Cherry     40
2  Cherry     30
0   Apple     15
1   Apple     10
3  Cherry      2

In [36]:
meat_to_animal = {
'bacon': 'pig',
'pulled pork': 'pig',
'pastrami': 'cow',
'corned beef': 'cow',
'honey ham': 'pig',
'nova lox': 'salmon'
}

def meat2animal(series):
    if series["food"]=='bacon':
        return 'pig'
    elif series["food"]=='pulled pork':
        return 'pig'
    elif series["food"]=='pastrami':
        return 'cow'
    elif series["food"]=='corned beef':
        return 'cow'
    elif series["food"]=='honey ham':
        return 'pig'
    else:
        return 'salmon'

In [37]:
data['animal'] = data['food'].map(str.lower).map(meat_to_animal)
data

KeyError: 'food'

In [38]:
import pandas as pd
data = pd.DataFrame({'food': ['bacon', 'pulled pork', 'bacon', 'Pastrami','corned beef', 'Bacon', 'pastrami', 'honey ham','nova lox'],
                 'ounces': [4, 3, 12, 6, 7.5, 8, 3, 5, 6]})

In [40]:
meat_to_animal = {
'bacon': 'pig',
'pulled pork': 'pig',
'pastrami': 'cow',
'corned beef': 'cow',
'honey ham': 'pig',
'nova lox': 'salmon'
}

def meat2animal(series):
    if series["food"]=='bacon':
        return 'pig'
    elif series["food"]=='pulled pork':
        return 'pig'
    elif series["food"]=='pastrami':
        return 'COW'
    elif series["food"]=='corned beef':
        return 'cow'
    elif series["food"]=='honey ham':
        return 'pig'
    else:
        return 'salmon'
    
data['animal'] = data['food'].map(str.lower).map(meat_to_animal)
data

          food  ounces animal
0        bacon     4.0    NaN
1  pulled pork     3.0    NaN
2        bacon    12.0    NaN
3     Pastrami     6.0    NaN
4  corned beef     7.5    NaN
5        Bacon     8.0    NaN
6     pastrami     3.0    NaN
7    honey ham     5.0    NaN
8     nova lox     6.0    NaN

In [43]:
meat_to_animal = {
'bacon': 'pig',
'pulled pork': 'pig',
'pastrami': 'cow',
'corned beef': 'cow',
'honey ham': 'pig',
'nova lox': 'salmon'
}

def meat2animal(series):
    if series["food"]=='bacon':
        return 'pig'
    elif series["food"]=='pulled pork':
        return 'pig'
    elif series["food"]=='pastrami':
        return 'cow'
    elif series["food"]=='corned beef':
        return 'cow'
    elif series["food"]=='honey ham':
        return 'pig'
    else:
        return 'salmon'
    
data['animal'] = data['food'].map(str.lower).map(meat_to_animal)
data

          food  ounces  animal
0        bacon     4.0     pig
1  pulled pork     3.0     pig
2        bacon    12.0     pig
3     Pastrami     6.0     cow
4  corned beef     7.5     cow
5        Bacon     8.0     pig
6     pastrami     3.0     cow
7    honey ham     5.0     pig
8     nova lox     6.0  salmon

In [44]:
import pandas as pd
import numpy as np

df = pd.DataFrame({'data1' : np.random.randn(5),
                   'data2' : np.random.randn(5)})

df.assign(ratio = df['data1'] / df['data2'])

      data1     data2     ratio
0 -1.102948 -0.303398  3.635321
1  0.347571 -0.233375 -1.489323
2 -0.245509 -0.241292  1.017475
3 -0.818132 -0.524281  1.560483
4 -1.627879 -1.447576  1.124555

In [48]:
import pandas as pd
data = pd.DataFrame(np.arange(16).reshape((4, 4)),index=['Ohio', 'Colorado', 'New York', 'NY'],columns=['one', 'two', 'three','four'])
data

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
New York    8    9     10    11
NY         12   13     14    15

In [47]:
import pandas as pd
data = pd.DataFrame(np.arange(12).reshape((3, 4)),index=['Ohio', 'Colorado', 'New York'],columns=['one', 'two', 'three', 'four'])
data

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
New York    8    9     10    11

In [50]:
import pandas as pd
data = pd.DataFrame(np.arange(9).reshape((3, 3)),index=['Ohio', 'Colorado', 'New York'],columns=['one', 'two', 'three'])
data

          one  two  three
Ohio        0    1      2
Colorado    3    4      5
New York    6    7      8

In [67]:
import pandas as pd
rdf = pd.read_csv('D:\movielen\ml-1m\\ratings.csv')
print (rdf)

OSError: File b'D:\\movielen\\ml-1m\\ratings.csv' does not exist

In [53]:
df.head()

      data1     data2
0 -1.102948 -0.303398
1  0.347571 -0.233375
2 -0.245509 -0.241292
3 -0.818132 -0.524281
4 -1.627879 -1.447576